.admin-page {
    font-family: var(--font-lato);
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        .title-wrapper {
            h3 {
                font-family: var(--font-dm);
                font-weight: 500;
                font-size: 36px;
            }
            p {
                font-family: var(--font-lato);
                font-size: 18px;
            }
        }
    }
}
