section#about {
    scroll-margin-top: 124px;
    margin: 48px 0 48px 0;
    color: var(--color-primary);
    h1.about-title {
        text-align: center;
        font-family: var(--font-dm);
        >span {
            padding: 0 28px 0 28px;
        }
    }
    .about-wrapper {
        background-image: url("/img/bg-about.png");
        background-size: cover;
        background-position: center;
        @media (max-width: 991px) {
            background-image: url("/img/bg-about-opacity.png");
        }
        .about-body {
            .bride-side {
                h1 {
                    font-family: var(--font-gv);
                    font-size: 50px;
                    margin: 0;
                    @media (max-width: 575px) {
                        font-size: 35px;
                    }
                    >sub {
                        font-family: var(--font-fredoka);
                        font-style: italic;
                        font-size: 22px;
                        border-bottom: 1px solid #181a18;
                    }
                }
                h3 {
                    margin: 4px 0 14px 0;
                }
                p {
                    font-family: var(--font-lato);
                    font-size: 20px;
                    font-weight: 500;
                    margin: 0;
                }
            }
            .mid-side>h1 {
                font-family: var(--font-dm);
                font-size: 50px;
                @media (max-width: 575px) {
                    font-family: var(--font-dm);
                    font-size: 35px;
                }
            }
        }
    }
}

section#schedule {
    scroll-margin-top: 100px;
    margin: 48px 0 0 0;
    background-color: var(--color-secondary);
    .schedule-wrapper {
        padding: 48px 0 48px 0;
        h1.schedule-title {
            text-align: center;
            font-family: var(--font-dm);
            >span {
                padding: 0 28px 0 28px;
            }
        }
        .information-schedule-wrapper {
            margin-bottom: 12px;
            h4 {
                font-family: var(--font-fredoka);
                font-weight: 500;
                margin: 0;
                margin-bottom: 8px;
            }
            p {
                font-family: var(--font-lato);
                font-weight: 400;
                letter-spacing: 2px;
                margin: 0;
                margin: 8px auto;
            }
        }
    }
    .quote-wrapper {
        background-color: var(--color-tertiary);
        color: var(--color-primary);
        h5 {
            font-family: var(--font-lato);
            font-weight: 600;
            font-size: 18px;
            margin: 0;
            @media (max-width: 991px) {
                font-size: 16px;
                line-height: 1.75;
            }
        }
    }
}

section#gallery {
    scroll-margin-top: 124px;
    margin: 48px 0 48px 0;
    h1.gallery-title {
        text-align: center;
        font-family: var(--font-dm);
        >span {
            padding: 0 28px 0 28px;
        }
    }
}

section#information {
    scroll-margin-top: 150px;
    .information-wrapper {
        font-family: var(--font-fredoka);
        font-size: 18px;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
    }
    .stream-wrapper {
        iframe {
            aspect-ratio: 16 / 9;
        }
        h3 {
            font-family: var(--font-lato);
            text-transform: uppercase;
            letter-spacing: 2px;
            padding-bottom: 18px;
            margin: 0;
        }
    }
}
