.invitation-ticket {
    max-width: 448px;
    height: 100vh;
    display: grid;
    place-items: center;
    .invitation-ticket-wrapper {
        h1 {
            font-family: var(--font-dm);
            font-weight: 500;
            letter-spacing: 1px;
        }
        p {
            font-family: var(--font-lato);
            font-size: 18px;
            &.attention-text {
                font-family: var(--font-fredoka);
                font-style: italic;
                font-size: 16px;
                margin-top: 16px;
            }
        }
        .thanks {
            margin-top: 16px;
            font-size: 24px;
            p.thanks-japan {
                font-family: var(--font-fredoka);
                font-weight: 700;
            }
            p.thanks-english {
                font-family: var(--font-lato);
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
}
