@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Lato";
    src: url("../fonts/lato_light.ttf");
}

/* Auth */

.auth {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.auth h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.auth p {
    font-family: "Lato";
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.auth-form {
    width: 260px;
}

label.form-label {
    font-family: "Lato";
    font-weight: 600;
}

input[type="text"], input[type="password"] {
    padding: 8px 12px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid #E0E4E8;
}

button.btn-auth {
    font-family: 'Poppins', sans-serif;
    background: none;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 8px 12px;
    border-radius: .3rem;
}

/* End Auth */