@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@font-face {
    font-family: "BrandonText";
    src: url("../fonts/bradontext_regular.otf");
}

@font-face {
    font-family: "DMSerif";
    src: url("../fonts/dmserifdisplay_regular.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/lato_light.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: .25rem;
}

.invitation {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.invitation h1 {
    font-family: "DMSerif";
    letter-spacing: 1px;
}

.invitation p.inviting-text {
    font-family: "BrandonText";
    font-size: 20px;
}

.invitation p.attention-text {
    font-family: "BrandonText";
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    margin-top: 16px;
}

.presence-wrapper {
    background-color: #198754;
    font-family: "Lato";
    color: #fff;
    padding: 6px 12px;
    border-radius: .3rem;
}

.presence-wrapper p {
    margin: 0;
}

.presence-wrapper p.presence-title {
    font-weight: 600;
}

.btn-souvenir {
    background-color: #fff;
    color: #198754;
    border: none;
    border-radius: .3rem;
    padding: 3px 6px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.thanks {
    margin-top: 16px;
    font-size: 24px;
}

.thanks p.thanks-japan {
    font-family: "BrandonText"; 
    font-weight: 800;
}

.thanks p.thanks-english {
    font-family: "Lato";
    text-transform: uppercase;
    letter-spacing: 1px;
}