.navigation {
    .upper-nav {
        background-color: var(--color-secondary);
        font-family: var(--font-fredoka);
        font-weight: 500;
        font-style: italic;
        font-size: 14px;
        letter-spacing: 1px;
        text-align: center;
        color: var(--color-primary);
    }

    .lower-nav {
        background-color: var(--color-neutral);
        .nav-list {
            a.nav-child {
                font-family: var(--font-lato);
                font-size: 14px;
                font-weight: 500;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: var(--color-primary);
                border-bottom: 1px solid transparent;
                -webkit-transition: all .3s linear;
                transition: all .3s linear;
                &:hover {
                    border-bottom: 1px solid #000;
                }
                @media (max-width: 991px) {
                    display: none;
                }
            }
            a.navbar-brand {
                font-family: var(--font-dm);
                font-size: 28px;
                color: var(--color-primary);
                letter-spacing: 1px;
                border-bottom: 0px solid transparent;
                span {
                    font-size: 20px;
                }
            }
        }
    }
}

.botnav {
    display: none;
    background-color: var(--color-quaternary);
    .botnav-list a {
        font-family: var(--font-lato);
        font-weight: 700;
        font-size: 14px;
        text-decoration: none;
        color: var(--color-primary);
    }
    @media (max-width: 991px) {
        display: block;
    }
}

// =======================================================================

.navigation-admin {
    .nav-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-primary);
        color: var(--color-neutral);
        font-family: var(--font-lato);
        >button {
            font-weight: 600;
            background-color: var(--color-danger);
            color: var(--color-neutral);
            border: none;
            padding: 3px 18px;
            border-radius: 24px;
            &:hover {
                background-color: #cc3141;
            }
        }
    }
    .nav-tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--color-secondary);
            padding: 14px 0 14px 0;
            color: var(--color-primary);
            text-decoration: none;
            &:hover {
                background-color: var(--color-quaternary);
            }
            &.active {
                background-color: var(--color-quaternary);
            }
        }
    }
}
